.MenuBar_Width_Set{
    min-width: 75rem;
    max-width: 93.75rem;
    margin: auto;
    background: #ffffff;
    height: 100%;
}

.MenuBar_Window{
    display: flex;
}

#MenuBar_Ul{
    margin: 0;
    text-align: center;
    width: 10rem;
    padding: 0;
    list-style: none;
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: 0.25rem;
    border-right: 2px solid #ccc;
    position: fixed;
}

#MenuBar_Ul a:hover{
    color: #2a7ed2;
    font-weight: bold;
    border-bottom: 2px solid #2a7ed2;
}

.MenuBar_Main{
    flex: 1;
}