.Upload_Window{
    background: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 75rem;
    max-width: 93.75rem;
    margin: auto;
}

.Upload_Cell_Name{
    /* width: 10rem; */
}
/* 
.Upload_Image_window{
    width: 220px;
    height: 220px;
    border: 1px solid black;
}

#Upload_Image{
    width: 220px;
    height: 220px;
} */

#Upload_Count{
    text-align: center;
    /* width: 100px; */
}