body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background: #F5F5F5;
  height: 100%;
  padding-top: 3.875rem;

}

#root{
  height: 100%;
}

/*추후 회s원 인증 페이지에서
배경 화면을 페이지의 전체 영역에 채우기 위한 용도*/
html{
  /* background: #f5f5f5 */
  height: 100%;
}

a{
  color: inherit;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
